body{
    font-family: 'Noto Sans HK', sans-serif;
    background-color: gray;
    font-size: 150%;
}


.about-item{
    text-align: left;
}   

.tv{
    display: flex;
    margin-top: 2%;;
    margin-left: 2%;
    margin-right: 2%;
    background-color:lavender  ;
    border-style:solid ;
    border-width: 3px 4px 3px 5px ;
    
}
