body{
    font-family: 'Noto Sans HK', sans-serif;
    background-color: gray;
    font-size: 150%;
}

header img{
    height: 600px;
    width: 100%;
    object-fit: cover;
}

.about-item{
    text-align: left;
}   

.tv{
    display: flex;

    margin-left: 2%;
    margin-right: 2%;
    background-color:lavender  ;
    border-style:solid ;
    border-width: 3px 4px 3px 5px ;
    
}