body{
    font-family: 'Noto Sans HK', sans-serif;
    background-color: gray;
}

.vid{
    margin-top: 2%;;
    margin-left: 2%;
    margin-right: 2%;
    background-color:lavender  ;
}

.abc{
    margin-left: 2%;
    margin-right: 2%;
    padding: 1.5rem;
}

#lyric{
    font-size: 14px;
}

.name{
    margin-left: 10%;
}
